.profile {
  .content {
    display: flex;
    justify-content: space-around;

    .profileImg {
      width: 25rem;
      height: 30rem;
      object-fit: cover;
      margin-bottom: 2rem;
    }

    .info {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
    }
  }
}

@media all and (max-width: 910px) {
  .profile {
    .content {
      flex-direction: column;
      align-items: center;
      gap: 2rem;

      .profileImg {
        width: 20rem;
        height: 24rem;
      }

      .info {
        gap: 0.75rem;
      }
    }
  }
}
