.profile {
  margin-top: 10rem;

  .title {
    font-size: 3.5rem;
    margin-bottom: 2rem;
  }

  .content {
    display: flex;
    justify-content: space-around;

    .profileImg {
      width: 25rem;
      height: 30rem;
      object-fit: cover;
      margin-bottom: 2rem;
    }

    .info {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
    }
  }
}

.underline {
  height: 0.25rem;
  background-color: #dddddd;
}

.none {
  width: 0%;
}

.scrolled {
  animation: underlineAnimation 3s forwards;
}

@keyframes underlineAnimation {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

@media all and (max-width: 910px) {
  .profile {
    .content {
      flex-direction: column;
      align-items: center;
      gap: 2rem;

      .profileImg {
        width: 20rem;
        height: 24rem;
      }

      .info {
        gap: 0.75rem;
      }
    }
  }
}
