.verticalTimeline {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5rem;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 4px;
    background-color: #e0e0e0;
    transform: translateX(-50%);
    z-index: -1;
  }

  .item {
    position: relative;
    width: 50%;
    padding: 1rem 2rem;
    box-sizing: border-box;

    &:nth-child(odd) {
      align-self: flex-start;
      text-align: right;
    }

    &:nth-child(even) {
      align-self: flex-end;
      text-align: left;
    }

    .point {
      position: absolute;
      top: 0;
      width: 1.5rem;
      height: 1.5rem;
      background-color: #1976d2;
      border-radius: 50%;
      border: 4px solid #ffffff;
    }

    &:nth-child(odd) .point {
      right: -12px;
    }

    &:nth-child(even) .point {
      left: -12px;
    }

    &:last-child {
      top: 1rem;
    }
  }

  .content {
    margin-top: 3rem;

    .title {
      font-size: 1.5rem;
      font-weight: 600;
      margin-bottom: 0.5rem;
    }

    .description {
      font-size: 1rem;
    }
  }
}

@media (max-width: 768px) {
  .verticalTimeline {
    &::before {
      left: 8px;
      transform: none;
    }

    .item {
      width: 100%;
      padding-right: 1rem;

      &:nth-child(odd),
      &:nth-child(even) {
        align-self: flex-start;
        text-align: left;
      }

      .point {
        left: -2px !important;
      }
    }
  }
}
