.title {
  font-size: 3.5rem;
  margin-bottom: 2rem;
  margin-top: 10rem;
}

.underline {
  height: 0.25rem;
  background-color: #dddddd;
}

.none {
  width: 0%;
}

.scrolled {
  animation: underlineAnimation 3s forwards;
}

@keyframes underlineAnimation {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

@media all and (max-width: 510px) {
  .title {
    font-size: 2.6rem;
  }
}
