.skills {
  .title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  .skillCards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18.75rem, 1fr));
    gap: 1rem;

    &:not(:last-child) {
      margin-bottom: 3rem;
    }
  }
}
