.center {
  display: flex;
  flex-direction: column;
  width: 75rem;
  margin: 0 auto;
}

.footer {
  text-align: center;
  padding: 6rem 0;
  margin-top: 15rem;
  background-color: #060606;
}

@media all and (max-width: 1220px) {
  .center {
    width: 80%;
  }
}
