.certificateList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;

  .certificateCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2.25rem 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    text-align: center;

    &:hover {
      transform: translateY(-10px);
      background-color: #272727;
      box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
    }

    .certificateName {
      font-size: 1.2rem;
      font-weight: bold;
      margin-bottom: 0.5rem;
    }

    .certificateDate {
      font-size: 1rem;
      color: #666;
    }
  }
}
